<h3>Add Service Level Objectives</h3>
<mat-form-field>
  <mat-label>Select Type of SLO</mat-label>
  <mat-select [(value)]="selected">
    <mat-option *ngFor="let type of sloTypes" [value]="type">
      {{type}}
    </mat-option>
  </mat-select>
</mat-form-field>
<div *ngIf="selected">
  <div [ngSwitch]="selected">
    <div *ngSwitchCase="'Uptime'">
      <app-uptime-form [currentSlaId]="currentSlaId"></app-uptime-form>
    </div>
    <div *ngSwitchCase="'Throughput'">
      <app-throughput-form></app-throughput-form>
    </div>
    <div *ngSwitchCase="'Average Response Time'">
      <app-average-response-form></app-average-response-form>
    </div>
  </div>
</div>

