
<h3>SLOs in your SLA</h3>
<div *ngIf="createdSlos">

  <div fxLayout="column" fxLayoutGap="5px">

    <mat-list>
      <mat-list-item *ngFor="let slo of createdSlos">
        <h2 matLine> {{slo.name}} </h2>
        <p matLine>
          <span>{{slo.sloType}}</span>
        </p>
        <mat-divider></mat-divider>
        <mat-divider [vertical]="true"></mat-divider>
      </mat-list-item>
    </mat-list>

  </div>

</div>
<div *ngIf="!createdSlos || createdSlos.length == 0">
  No SLOs yet
</div>
