<mat-expansion-panel>
  <mat-expansion-panel-header >
    <mat-panel-title>
      {{sla.title}}
    </mat-panel-title>
    <mat-panel-description>
      <b>Status :</b><span class="{{sla.status}}">{{sla.status}}</span>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p><b>Starts:</b> {{sla.validFrom}}, <b>Ends:</b> {{sla.validTo}}</p>
  <p><b>Lifecycle Phase:</b> {{sla.lifecyclePhase}}</p>

  <mat-action-row>
    <a mat-flat-button color="primary" [routerLink]="['/slas/', sla.id]" routerLinkActive="active">Show Details</a>
  </mat-action-row>
</mat-expansion-panel>
