@mixin states($frontend-info, $frontend-success, $frontend-warning, $frontend-error) {
  .Identified,
  .Requested,
  .Accepted,
  .Rejected,
  .Active,
  .Inactive {
    color: mat-color($frontend-info);
  }
  .Identified {
    color: mat-color($frontend-primary);
  }
  .Requested {
    color: mat-color($frontend-accent);
  }
  .Accepted {
    color: mat-color($frontend-success);
  }
  .Rejected {
    color: mat-color($frontend-error);
  }
  .Active {
    color: mat-color($frontend-success);
  }
}
