<div>

  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Company Name</label>
      <input type="text" formControlName="partyName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.partyName.errors }">
      <div *ngIf="submitted && f.partyName.errors" class="invalid-feedback">
        <div *ngIf="f.partyName.errors.required">Company Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label >Username</label>
      <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">Username is required</div>
      </div>
    </div>

    <div class="form-group">
      <label >Phone Nr.</label>
      <input type="text" formControlName="phoneNr" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneNr.errors }" />
      <div *ngIf="submitted && f.phoneNr.errors" class="invalid-feedback">
        <div *ngIf="f.phoneNr.errors.required">Phone Nr. is required</div>
      </div>
    </div>

    <div class="form-group">
      <label >Party Type</label>
      <input type="text" formControlName="partyType" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.partyType.errors }" />
      <div *ngIf="submitted && f.partyType.errors" class="invalid-feedback">
        <div *ngIf="f.partyType.errors.required">Party Type is required</div>
      </div>
    </div>

    <div class="form-group">
      <label >Password</label>
      <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
      </div>
    </div>

    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Register</button>
      <!--    TODO: loading spinner -->
      <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
  </form>

</div>

