@import '~@angular/material/theming';
@mixin sidenav-component-theme($frontend-theme) {


  // retrieve variables from theme
  // (all possible variables, use only what you really need)

  $primary: map-get($frontend-theme, primary);
  $accent: map-get($frontend-theme, accent);
  $warn: map-get($frontend-theme, warn);
  $foreground: map-get($frontend-theme, foreground);
  $background: map-get($frontend-theme, background);

  .mat-drawer{
    // let's take mat-toolbar's default theme
    // ref: https://github.com/angular/material2/blob/88601fa51d581f538468a9b63890b0e285e519cb/src/lib/toolbar/_toolbar-theme.scss#L39
    background-color: mat-color($background, app-bar);
    color: mat-color($foreground, text);

    // now, mat-toolbar's colored themes
    &[color=primary]{
      @include toolbar-color($primary);
    }
    &[color=accent]{
      @include toolbar-color($accent);
    }
    &[color=warn]{
      @include toolbar-color($warn);
    }
  }
}
