.toggle-button {
  cursor: pointer;
}

.fixed-toolbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

::ng-deep .mat-toolbar{
  z-index: 998;
  position: fixed
}
::ng-deep .mat-tab-group{
  margin-top:55px !important;
}

::ng-deep .mat-tab-header{
  z-index: 999;
  width:100vw;
  position: fixed  !important;
}
::ng-deep .mat-tab-body-wrapper{
  position: relative !important;
  margin-top:55px;
}

::ng-deep .mat-sidenav {
  background: #1a1a27;
  .mat-list-item {
    color: #8c8d9a;

  }
}
